/*************************           VERSION ESCRITORIO                  ****************************/
body {
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
	margin: 0px;
	text-decoration: none;}
.Contenido{
	align-content: center;
	margin: 0 auto;
	width: 900px;
	height: 100%;
	animation: inicial 1s;
	text-decoration: none;
	}
header {
	display: block;
	height: 52px;
	background-color: #5b7989;
	text-decoration: none;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;}
.Titulo_Principal {
	float: left;
	width: 60%;
	margin: 0%;
	padding: 0.5%;
	padding-left: 2.5%;
	color: white;
	text-shadow: 2px 2px #02010a;}
.Selecciones {
	padding-top: 2%;
	width: 100%;
	}
.Selecciones h3{
	padding-right: 0%;
	padding-top: 2%;
	width: 25%;
	color: white;
	text-decoration: none;
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	}
.Selecciones a{
	text-decoration: none;
	}
.ImagenPrincipal {
	display: block; 
	background-color:#82c3a6;
	width: 100%;
	height: 450px;}
.ImagenPrincipal img{
	margin-left: 4%;
	margin-top: 5%;
	height: 80%;
	width: 92%;
	box-shadow: 2px 2px 11px #02010a;}
.Imagen_Secundaria{
	background-color:#d5c75f;
	float: left;
	width: 50%;
	height: 300px;}
.Imagen_Secundaria img {
	border: 2px;
	border-color: black;
	margin-left: 7%;
	margin-top: 5%;
	height: 75%;
	width: 85%;
	box-shadow: 2px 2px 11px #02010a;}
.Hover_Derecha:hover img {
	animation: Movimiento_top_rigth 2s;
	}
.Hover_izquierda:hover img {
	animation: Movimiento_Rotate 2s;
	}
.Text_Imag {
	margin:0%; 
	padding:0%;
	padding-left: 42%;
	text-decoration: underline;
	font-size: 18px;}
footer {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #C6d5c5;
  padding: 15px 0;
  color: black;
  border-radius: 0 0 10px 10px;
  width: 100%;
}
footer .columna{
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;
}
.Icon_Redes{
	height: 20px;
	width: 20px;
	}

@-webkit-keyframes inicial {
 from {transform: translateY(150%);}
 to {
 	transform: translateY(-5%);	
 }}
@-webkit-keyframes Movimiento_Rotate {
 to {
 	transform: rotate(10deg);	
 	box-shadow: 2px 2px 11px #82c3a6;
 }}
@-webkit-keyframes Movimiento_top_rigth {
 to {
 	transform: translate(10%, -5%);	
 	box-shadow: 2px 2px 11px #82c3a6;
 }}
.Imagen_Paisajes {
	height: 270px;
	width: 33.3333%;
	background-color: #d5c75f;
	float: left;
}
.Imagen_Paisajes img {
	margin: 10%;
	margin-top: 15%;
	height: 70%;
	width: 80%;
	box-shadow: 2px 2px 11px #02010a;}
.Styl_blur {
	-webkit-filter: blur(10px);
}
.Styl_grayscale {
	-webkit-filter: grayscale(100%);
}
.Styl_sepia {
	-webkit-filter: sepia(90%);
}



/*************************           VERSION MOVIL                        ****************************/
@media (max-width: 900px){

.Contenido{
	margin-left: 0%;
	width: 100%;
	animation: inicial 1s;}
header {
	display: inline-block;
	height: 100%;
	background-color: #5b7989;
	text-decoration: none;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;}
.Titulo_Principal {
	float: left;
	width: 100%;
	padding: 0.5%;
	margin-left: auto;
	color: white;
	text-shadow: 2px 2px #02010a;
	margin-left: 10%;}
.Selecciones {
	padding-top: 2%;
	width: 100%;
	}
.Selecciones h3{
	padding-left: 0%;
	padding-top: 2%;
	width: 20%;
	margin: 0%;
	color: white;
	text-decoration: none;
	display: inline;
	margin-left: 15%;
	font-size: 24px;
	}
.Imagen_Secundaria{
	background-color:#d5c75f;
	float: left;
	width: 100%;
	height: 400px;}
.Imagen_Secundaria img {
	border: 2px;
	border-color: black;
	margin-left: 5%;
	margin-top: 5%;
	height: 80%;
	width: 90%;
	box-shadow: 2px 2px 11px #02010a;}
.Text_Imag {
	margin:0%; 
	padding:0%;
	padding-left: 42%;
	text-decoration: underline;
	font-size: 24px;}
footer .columna{
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
}
.Icon_Redes{
	height: 20px;
	width: 20px
	}

.Imagen_Paisajes {
	height: 450px;
	width: 100%;
	background-color: #d5c75f;
	float: left;
}

}
