/*************************           VERSION ESCRITORIO                  ****************************/
body {
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
	margin: 0px;}
#Contenido{
	align-content: center;
	margin: 0 auto;
	width: 900px;
	height: 100%;
	animation: inicial 1s;}
#Contenido a {
	text-decoration: none
	;}
header {
	display: block;
	height: 52px;
	background-color: #5b7989;
	text-decoration: none;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;}
#Titulo_Principal {
	float: left;
	width: 60%;
	margin: 0%;
	padding: 0.5%;
	padding-left: 2.5%;
	color: white;
	text-shadow: 2px 2px #02010a;}
#Seleccion_Inicio {
	float: right;
	padding-right: 2%;
	padding-top: 2%;
	width: 10%;
	color: white;
	text-decoration: none;}
#Seleccion_Inicio h3 {
	margin: 0%;
	}
#Selecciones_Paisajes {
	float: right;
	padding-right: 2%;
	padding-top: 2%;
	width: 10%;
	}
#Selecciones_Paisajes h3 {
	margin: 0%;
	color: white;
	text-decoration: none;
	}
#Selecciones_Retratos {
	padding-top: 2%;
	float: right;
	padding-right: 2%;
	width: 10%;}
#Selecciones_Retratos h3 {
	margin: 0%;
	color: white;
	text-decoration: none;
	}
#ImagenPrincipal {
	display: block; 
	background-color:#82c3a6;
	width: 100%;
	height: 350px;}
#ImagenPrincipal img{
	margin-left: 10%;
	margin-top: 5%;
	height: 70%;
	width: 80%;
	box-shadow: 2px 2px 11px #02010a;}
#Imagenizquierda:hover img {
	animation: Movimiento_Rotate 1s;
	}
#Imagenizquierda{
	background-color:#d5c75f;
	border: 1px;
	float: left;
	width: 50%;
	height: 250px;}
#Imagenizquierda img {
	margin-left: 20%;
	margin-top: 12%;
	border: 1px;
	height: 60%;
	width: 65%;
	box-shadow: 2px 2px 11px #02010a;}
#ImagenDerecha{
	background-color:#d5c75f;
	float: right;
	width: 50%;
	height: 250px;}
#ImagenDerecha img{
	margin-left: 16%;
	margin-top: 12%;
	height: 60%;
	width: 65%;
	box-shadow: 2px 2px 11px #02010a;}	
#ImagenDerecha:hover img {
	animation: Movimiento_top_rigth 1s;
	}
#Text_Imag {
	margin:0%; 
	padding:0%;
	padding-left: 42%;
	text-decoration: underline;
	font-size: 18px;}
footer {
	height: 20%;
	background-color: #C6d5c5;
  	border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;}
#HContacto {
	margin: 1%;
	width: 10%;
	display: inline-block;
	padding-left: 4%;
	text-align: center;}
#HTerminos {
	margin: 1%;
	width: 10%;
	display: inline-block;
	padding-left: 6%;
	text-align: center;}
#HRedes_Sociales {
	margin: 1%;
	width: 25%;
	display: inline-block;
	padding-left:10%;
	text-align: center;}
#HDerechos {
	margin: 1%;
	width: 15%;
	display: inline-block;
	padding-left: 4%;
	text-align: center;}
#Contacto {
	text-align:left;
	width: 15%;
	display: inline-block;
	padding-left: 4%;
	margin-top: 1%;
	vertical-align: top;}
#Terminos{
	vertical-align: top;
	text-align: left;
	width: 15%;
	display: inline-block;
	margin-top: 1%;
	padding-left: 4%;}
#Redes_Sociales{
	vertical-align: top;
	text-align: left;
	width: 30%;
	margin-top: 1%;
	display: inline-block;
	padding-left: 4%;}
#Derechos{
	vertical-align: top;
	text-align: left;
	width: 20%;
	margin-top: 1%;
	display: inline-block;
	padding-left: 4%;}
#Icon_Redes{
	height: 20px;
	width: 20px
	}

@-webkit-keyframes inicial {
 from {transform: translateY(150%);}
 to {
 	transform: translateY(-5%);	
 }}
@-webkit-keyframes Movimiento_Rotate {
 to {
 	transform: rotate(10deg);	
 	box-shadow: 2px 2px 11px #82c3a6;
 }}
@-webkit-keyframes Movimiento_top_rigth {
 to {
 	transform: translate(20%, -5%);	
 	box-shadow: 2px 2px 11px #82c3a6;
 }}
#Imagen_Paisajes {
	height: 270px;
	width: 33.3333%;
	background-color: #d5c75f;
	float: left;
}
#Imagen_Paisajes img {
	margin: 10%;
	margin-top: 15%;
	height: 70%;
	width: 80%;
	box-shadow: 2px 2px 11px #02010a;}
#Styl_blur {
	-webkit-filter: blur(10px);
}
#Styl_grayscale {
	-webkit-filter: grayscale(100%);
}
#Styl_sepia {
	-webkit-filter: sepia(90%);
}



/*************************           VERSION MOVIL                        ****************************/
@media (max-width: 900px){

#Contenido{
	margin-left: 0%;
	width: 100%;
	height: 100%;
	animation: inicial 1s;}
header {
	display: block;
	height: 110px;
	background-color: #5b7989;
	text-decoration: none;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;}
#Titulo_Principal {
	float: left;
	width: 100%;
	margin: 0%;
	padding: 0.5%;
	padding-left: 2.5%;
	color: white;
	text-shadow: 2px 2px #02010a;}
#Seleccion_Inicio {
	float: left;
	padding-left: 4%;
	padding-top: 2%;
	width: 10%;
	color: white;
	text-decoration: none;
	-webkit-order:1;}
#Seleccion_Inicio h3 {
	margin: 0%;
	}
#Selecciones_Paisajes {
	float: left;
	padding-left: 4%;
	padding-top: 2%;
	width: 10%;
	-webkit-order:2;
	}
#Selecciones_Paisajes h3 {
	margin: 0%;
	color: white;
	text-decoration: none;
	}
#Selecciones_Retratos {
	padding-top: 2%;
	float: left;
	padding-left: 6%;
	width: 10%;
	-webkit-order:3;}
#Selecciones_Retratos h3 {
	margin: 0%;
	color: white;
	text-decoration: none;
	}
#ImagenPrincipal {
	display: block; 
	background-color:#82c3a6;
	width: 100%;
	height: 350px;}
#ImagenPrincipal img{
	margin-left: 10%;
	margin-top: 8%;
	height: 70%;
	width: 80%;
	box-shadow: 2px 2px 11px #02010a;}
#Imagenizquierda:hover img {
	animation: Movimiento_Rotate 1s;
	}
#Imagenizquierda{
	display: block; 
	background-color:#d5c75f;
	width: 100%;
	height: 350px;
	-webkit-order: 1;}
#Imagenizquierda img {
	margin-left: 10%;
	margin-top: 8%;
	height: 70%;
	width: 80%;
	box-shadow: 2px 2px 11px #02010a;}
#ImagenDerecha{
	display: block; 
	background-color:#d5c75f;
	width: 100%;
	height: 350px;}
#ImagenDerecha img{
	margin-left: 10%;
	margin-top: 8%;
	height: 70%;
	width: 80%;
	box-shadow: 2px 2px 11px #02010a;}	
#ImagenDerecha:hover img {
	animation: Movimiento_top_rigth 1s;
	}
}